<!DOCTYPE html>
<html>
<head>
  <title>Prompt⚡️Energy</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/themes/prism.css" rel="stylesheet" />

  


    <!-- Apple Touch Icon -->
<!--     https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html#foreground.type=text&foreground.text.text=%E2%9A%A1%EF%B8%8F&foreground.text.font=Advent%20Pro&foreground.space.trim=1&foreground.space.pad=0.25&foreColor=rgb(255%2C%20255%2C%20255)&backColor=rgb(156%2C%2039%2C%20176)&crop=1&backgroundShape=square&effects=shadow&name= -->
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/dudgeon/site/master/icon.png">
    
    <!-- Optional meta tags for better user experience -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Prompt Energy">
  
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  
  
<script>
  async function loadPrompts() {
    const response = await fetch('/static/prompts.json');
    const prompts = await response.json();
    const select = document.getElementById('input_text');
    
    prompts.forEach(prompt => {
      const option = document.createElement('option');
      option.value = prompt.prompt;
      option.textContent = prompt.name;
      select.appendChild(option);
    });
  
    select.addEventListener("change", () => {
      const selectedPrompt = prompts.find(p => p.prompt === select.value);
  
      if (selectedPrompt && selectedPrompt.requires_context) {
        // document.getElementById("context-container").style.display = "block";
        document.getElementById("context").value = selectedPrompt.placeholder_context;
      } else {
        // document.getElementById("context-container").style.display = "none";
        document.getElementById("context").value = "";
      }
    });
  
    // Set default context value on page load
    const defaultPrompt = prompts[0];
    if (defaultPrompt.requires_context) {
      document.getElementById("context").value = defaultPrompt.placeholder_context;
    }
  }


  // new function added to support api response streaming
  async function generateWithStreaming() {
  const formData = new FormData(document.getElementById("generate-form"));
  formData.append("context", document.getElementById("context").value);

  const response = await fetch("/generate_streaming", {
    method: "POST",
    body: formData,
  });

  const reader = response.body.getReader();
  const textDecoder = new TextDecoder();

  let output = "";
  while (true) {
    const { value, done } = await reader.read();
    if (done) break;
    const chunk = textDecoder.decode(value);
    output += chunk;
    document.getElementById("output").textContent = output;
  }
}


document.addEventListener("DOMContentLoaded", () => {
  document.querySelector('button[type="submit"]').addEventListener("click", async (event) => {
    event.preventDefault();
    const button = document.querySelector('button[type="submit"]');
    const spinner = button.querySelector('.spinner');
    const loadingText = button.querySelector('.loading-text');
    button.disabled = true;
    button.style.opacity = 0.5;
    loadingText.textContent = 'Loading...';
    spinner.classList.remove('hidden');
    const formData = new FormData(document.getElementById("generate-form"));
    formData.append("context", document.getElementById("context").value);

    const response = await fetch("/generate_async", { method: "POST", body: formData });

    if (response.body) {
      const reader = response.body.getReader();
      const textDecoder = new TextDecoder();
      document.getElementById("output").textContent = "";
      let result = "";

      reader.read().then(async function processText({ done, value }) {
        if (done) {
          document.getElementById("output-section").classList.remove("hidden");
          spinner.classList.add('hidden');
          button.disabled = false;
          button.style.opacity = 1;
          loadingText.textContent = 'Generate';
          return;
        }

        result += textDecoder.decode(value);
        const lines = result.split('\n');
        const lastLine = lines.pop();
        result = lastLine;

        lines.forEach(line => {
          const node = document.createElement("span");
          node.textContent = line;
          document.getElementById("output").appendChild(node);
          document.getElementById("output").appendChild(document.createElement("br"));
        });

        return reader.read().then(processText);
      });
    }
  });
    
    document.getElementById("copy-button").addEventListener("click", () => {
      const output = document.getElementById("output");
      const selection = window.getSelection();
      const range = document.createRange();
      range.selectNodeContents(output);
      selection.removeAllRanges();
      selection.addRange(range);
      document.execCommand("copy");
      selection.removeAllRanges();
    });
    
  });
</script>
</head>


  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DJW06046ZJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DJW06046ZJ');
</script>

  
 <body class="bg-gray-100 min-h-screen" onload="loadPrompts()">

  <div x-data="{ tab: 'prompt-book' }" class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-lg p-6">
      <div class="flex items-center justify-center mb-4">
        <h1 class="text-4xl md:text-6xl lg:text-7xl font-extrabold bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 bg-clip-text text-transparent">

          Prompt⚡️Energy
        </h1>
      </div>

      <div class="border-b border-gray-200">
        <nav class="-mb-px flex space-x-8" aria-label="Tabs">

          
          <button x-on:click="tab = 'prompt-book'"
                  :class="{ 'border-indigo-500 text-indigo-600': tab === 'prompt-book' }"
                  class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 w-1/3 py-4 px-1 text-center border-b-2 font-medium text-sm"
                  aria-current="page">
            Prompt Book
          </button>
          <button x-on:click="tab = 'prompt-lab'"
                  :class="{ 'border-indigo-500 text-indigo-600': tab === 'prompt-lab' }"
                  class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 w-1/3 py-4 px-1 text-center border-b-2 font-medium text-sm">
            Prompt Lab
          </button>
          <button x-on:click="tab = 'about'"
                  :class="{ 'border-indigo-500 text-indigo-600': tab === 'about' }"
                  class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300 w-1/3 py-4 px-1 text-center border-b-2 font-medium text-sm">
            About
          </button>
        </nav>
      </div>

<!-- PROMPT BOOK SECTION -->

      <div class="mt-4 relative">
        <div x-show.transition="tab === 'prompt-book'" class="h-full">

      <section class="text-gray-600 body-font">
        <div class="container px-5 mx-auto flex flex-wrap">
          <div class="flex flex-wrap w-full justify-center">
            <div class="md:pr-10 md:py-6">


              <form id="generate-form">


                
              <div class="flex relative pb-12"> <!-- SELECT PROMPT ELEMENT -->
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                  <!-- Replace the content of the <svg> tag with the appropriate icon for the select prompt -->
                  <svg>...</svg>
                </div>

                <div class="flex-grow pl-4">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">SELECT PROMPT</h2>
                  <select name="input_text" id="input_text" class="border p-2 mb-4 w-full md:w-auto"></select> 
                </div>
              </div>
              
              
              <div class="flex relative pb-12" id="context-container"> <!-- CONTEXT ELEMENT -->
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                  <!-- Replace the content of the <svg> tag with the appropriate icon for the context -->
                  <svg>...</svg>
                </div>
                
                <div class="flex-grow pl-4">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">EDIT CONTEXT</h2>
                  <textarea name="context" id="context" class="border p-2 mb-4 w-full h-32" placeholder="Enter additional context here (if required)"></textarea>         
                </div>
              </div> <!-- CONTEXT ELEMENT -->


              <div class="flex relative pb-12"> <!-- GENERATE BUTTON ELEMENT -->
                <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                  <!-- Replace the content of the <svg> tag with the appropriate icon for the context -->
                  <svg>...</svg>
                </div>
                <div class="flex-grow pl-4">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">GENERATE</h2>
                  <p class="leading-relaxed">Depending on how much context you provided, your prompt may take a while to load. Please be patient.</p>
<br>
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full md:w-auto relative">
                    <span class="spinner hidden absolute top-0 left-0 w-full h-full flex items-center justify-center">
                      <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647zM12 20.5A8.5 8.5 0 012.5 12H4a7.5 7.5 0 0014.659 2.659l-1.302-1.303A5.5 5.5 0 1112 20.5z"></path>
                      </svg>
                    </span>
                    <span class="loading-text">Generate</span>
                  </button>
                  
                </div>
              </div>
            
              </form>
              
              
              <div class="flex relative hidden" id="output-section">
<!--                 <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                  <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div> -->
                <div class="flex-shrink-0 w-10 h-10 rounded-full bg-indigo-500 inline-flex items-center justify-center text-white relative z-10">
                  <!-- Replace the content of the <svg> tag with the appropriate icon for the output -->
                  <svg>...</svg>
                </div>
                <div class="flex-grow pl-4">
                  <h2 class="font-medium title-font text-sm text-gray-900 mb-1 tracking-wider">OUTPUT</h2>
                  <p class="leading-relaxed">Description of the output section</p>

<!-- Original output section -->
 <div class="bg-gray-800 rounded-t-md mb-4">
    <div class="flex items-center relative text-gray-200 bg-gray-700 px-4 py-2 text-xs font-sans justify-between rounded-t-md">
      <span>Output</span>
      <button id="copy-button" class="flex items-center ml-auto gap-2 text-white hover:text-blue-600">
        <i class="fas fa-copy"></i>
        <span>Copy</span>
      </button>
    </div>
    <div class="p-4 overflow-y-auto text-white text-sm">
      <code id="output" class="whitespace-pre-wrap"></code>
    </div>
  </div>

                  
                </div>
              </div>
              
            </div>
<!--           </div> -->
        </div>
      </section> 


      
      
      

          
          



 









</div>
<!--   <pre class="bg-gray-100 text-gray-800 px-3 py-2 rounded-b-md overflow-auto"><code id="output" class="language-python"></code></pre> -->
           
</div> <!-- end of prompt book div -->
    
<!--  PROMPT LAB SECTION -->
<div x-show.transition="tab === 'prompt-lab'" class="h-full px-4 w-full md:w-3/4 mx-auto" >
 <div>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">A future 'prompt lab' feature could enable individual users to define, test, and save their favorite prompts for convenient use in the future. Prompts could include:</p>

    <ul class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600 list-disc pl-6">
        <li>Defined, tested prompt instruction and system message.</li>
        <li>Preferred model for execution (Prompt Lab could be model agnostic, prompts would be model-specific).</li>
        <li>Parameters such as model temperature and max_tokens.</li>
    </ul>
    
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">In an enterprise environment, prompt book could serve two additional roles:</p>

    <ul class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600 list-disc pl-6">
        <li>Use standard prompts to drive process consistency across a company (e.g. provide a common starting point and format for user story documentation)</li>
        <li>Provide trusted access to LLMs, implementing controls that ChatGPT and related tools lack.</li>
    </ul>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">I can imagine a company-wide prompt book that provides tooling and patterns to define and deploy standardized prompts in a corporate setting. These would include:</p>
 
    <ul class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600 list-disc pl-6">
        <li>Access management</li>
        <li>Data loss/content filtering for user-provided contexts</li>
        <li>Response quality checks and controls</li>
    </ul>

    <p></p>
    
</div>

</div>

<!-- PROMPT BOOK SECTION -->
<div x-show.transition="tab === 'about'" class="h-full px-4 w-full md:w-3/4 mx-auto">
  
<div class="group relative">
    <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <span class="absolute inset-0"></span>
            What is Prompt Energy?
    </h3>
    <div class="flex items-center gap-x-4 text-xs">
      <time datetime="2023-04-01" class="text-gray-500">Apr 1, 2023</time>
    </div>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Prompt⚡️Energy is a personal project to visualize some ideas I have in my head about how large, regulated entities that may block access to ChatGPT today can safely arm their associates with LLM super-powers in ways that are consistent with their risk standards, processes, and cultures.</p>
    <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">While open-ended, conversational use of tools like ChatGPT are clearly the future (ChatGPT itself was instrumental in writing this demo app), I am interested in finding ways to accommodate the legitimate concerns of organizations that may struggle to govern and adopt these tools.</p>
</div>
<div class="relative mt-8 flex items-center gap-x-4">
    <img src="https://raw.githubusercontent.com/dudgeon/site/master/gd-lensa.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
    <div class="text-sm leading-6">
        <p class="font-semibold text-gray-900">
            <a href="https://twitter.com/geoffdudgeon">
                <span class="absolute inset-0"></span>
                Geoff Dudgeon
            </a>
        </p>
        <p class="text-gray-600">Noob Prompt Engineer</p>
    </div>
</div>


</div> <!-- end ABOUT section -->



    
      </div>
    </div>
  </div>

<!-- Add PrismJS for code syntax highlighting -->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.26.0/prism.js"></script>

<script>
  document.getElementById("copy-button").addEventListener("click", () => {
    navigator.clipboard.writeText(document.getElementById("output").innerText);
    
  });
</script>

   
</body>


  
</html>
